# Use fully qualified domain names. Set to DOMAIN=local if SSL_TYPE=selfsign.
DOMAIN=your.domain.com

# Used for Let's Encrypt expiration emails and Enketo technical support emails
SYSADMIN_EMAIL=administrator@email.com

#Generate the following manually
ENKETO_API_KEY=
ENKETO_SECRET=
ENKETO_LESS_SECRET=
